---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Badge from "../components/Badge.astro";
import Linkedin from "../components/icons/LinkedinIcon.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedinIcon from "../components/icons/LinkedinIcon.astro";
import GitHubIcon from "../components/icons/GitHubIcon.astro";
import MailIcon from "../components/icons/MailIcon.astro";
import Experience from "../components/Experience.astro";
---

<Layout
  title='Portfolio de Eva'
  desciption='Portfolio de Eva con info interesante'
>
  <main>
    <section class='w-full lg:w-[740px] mx-auto py-40 pb-30'>
      <h1 class='text-white text-5xl font-bold flex flex-row gap-x-4 pb-10'>
        Hey I am Eva <a
          href='www.linkedin.com/in/eva-cebrian-dev'
          target='_blank'
          rel='noopener'
          class='flex justify-center items-center'
        >
          <Badge>disponible para trabajar</Badge></a
        >
      </h1>
      <h2 class='text-2xl text-wrap'>
        <span>Autoaprendizaje, desarrollo web y diseñadora de contenido.</span>
        <span class='opacity-80'
          >De Zaragoza, especialista en encontrar soluciones dinámicas y
          originales.</span
        >
      </h2>
      <nav class='flex flex-row gap-x-2'>
        <SocialPill href='https://www.linkedin.com/in/eva-cebrian-dev/'>
          <LinkedinIcon class='w-6 h-6' /> LinkedIn
        </SocialPill>

        <SocialPill href='https://github.com/Eva-Cebrian'>
          <GitHubIcon class='w-6 h-6' /> GitHub
        </SocialPill>

        <SocialPill href='https://github.com/Eva-Cebrian'>
          <MailIcon class='w-6 h-6' /> Mail
        </SocialPill>
      </nav>
    </section>
    <section class='w-full lg:w-[740px] mx-auto py-1'>
      <h2 class='text-2xl font-semibold mb-6'>Formacion</h2>
      <Experience />
    </section>
  </main>
</Layout>
